/* Buttons */
.btn {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;

    &:enabled {
        background: linear-gradient($secondary, $primary);
        color: white;
    }
    &:disabled {
        cursor: no-drop;
        color: silver;
    }
    &:hover:enabled {
        box-shadow: 2px 3px 10px $tertiary;
        color: white;
    }
    &-logout, &-account, &-delete, &-update {
        cursor: pointer;
        background-color: unset;
        border: none;
        img{
            height: 23px;
        }
        &:hover {
            scale: 1.1;
        }
    }
    &-account {
        margin-right: 10px;
    }
    &-login {
        margin-right: 15px;
    }
    &-logout img{
        height: 22px;
    }
    &-delete {
        position: absolute;
        top: 35px;
        right: 5px;
    }
    &-update {
        position: absolute;
        right: 20px;
        bottom: 6px;
    }
    &-submit {
        margin: 5px auto;
    }
    &-submit:hover:enabled {
        scale: 1.05;
    }
    &-order {
        margin-bottom: 10px;
        scale: 0.9;
    }
}

.activeBtn .btn {
    box-shadow: 2px 3px 10px $tertiary;

    &:enabled {
        background: unset;
        background-color: $tertiary;
        color: white;
    }
}