/* Buttons */
.btn:enabled:enabled {
    cursor: pointer;
    padding: 3px 8px 5px 8px;
    border-radius: 5px;
    background-color: $tertiary;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.btn:hover:enabled {
    background-color: $secondary;
    color: $tertiary;
}

.btn-logout {
    right: 10px;
}

.btn-submit-signup {
    margin: 5px 40%;
    width: 20%;
}

.btn-submit-login {
    margin: 5px 35%;
    width: 30%;
}

.btn-submit-logout {
    text-align: center;
    margin-top: 250px;
}
