/* Buttons */
.btn {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

.btn:enabled {
    background-color: $tertiary;
    color: white;
}

.btn:disabled {
    color: silver;
}

.btn:hover:enabled {
    background-color: $secondary;
    color: $tertiary;
    scale: 1.05;
}

.btn-logout {
    right: 10px;
}

.btn-submit {
    width: 60px;
    margin: 5px auto;
}

.btn-return {
    position: absolute;
    top: 10px;
    left: 10px;
}
