/* Forms */
.post-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.post-form textarea {
    overflow: auto;
    resize: none;
    outline: none;
    height: 100px;
}

.post-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 0 5px;
}

.post-options label {
    height: 25px;
    margin: 0;
    padding: 0;
}

.post-options label:hover {
    cursor: pointer;
    height: 27px;
}

.post-options input[type=file] {
    display: none;
}

.post-options img {
    height: 100%;
    margin: 0;
}

.signup-form, .login-form, .verif-form {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px $tertiary groove;
    border-radius: 10px;
    padding: 20px 0 10px 0;
    width: 100%;
    @include tablet-only {
        width: 70%;
    }
    @include desktop-only {
        width: 400px;
    }
}

.signup-form fieldset, .login-form fieldset, .verif-form fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    color: $tertiary;
    width: 95%;
}

.signup-form label, .login-form label , .verif-form label{
    display: flex;
    width: 30%;
    font-size: 14px;
    text-decoration: underline;
}

.signup-form input, .login-form input, .verif-form input {
    outline: none;
    border: 2px #f2f0f0 groove;
    background-color: white;
    width: 50%;
}

.messageValid {
    position: absolute;
    bottom: -20px;
    font-style: italic;
    color: $primary;
    font-size: 12px;
    margin-left: 10px;
}

.submit {
    display: flex;
    flex-direction: column;
}