/* Forms */
.post-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;

    textarea {
        resize: none;
        overflow: auto;
        margin-top: 0;
        padding: 8px;
        border: 1px ridge silver;
        border-top: none;

        &:focus {
            outline: none;
            border-color: $primary;
        }
    }
    &__options {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35px;
        padding: 0 5px;
        margin: 5px 0;
    
        .uploadImg {
            height: 25px;
            margin: 0;
            padding: 0;
    
            &:hover {
                cursor: pointer;
                height: 27px;
                box-shadow: 2px 2px 5px $tertiary;
            }
        }
        input[type=file] {
            display: none;
        }    
        img {
            height: 100%;
            margin: 0;
        }
    }
}

.post-addComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    textarea {
        border: 1px ridge silver;
        border-radius: 8px;
        padding: 12px 8px 0 8px;
        resize: none;
        overflow: auto;

        &:focus {
            outline: 1px solid $tertiary;
        }
    }
    &__submit {
        display: none;
        position: absolute;
        right: -2px;
        bottom: -2px;
        i {
            font-size: 22px;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}

.login-form, .signup-form, .verif-form, .account-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px $tertiary groove;
    border-radius: 10px;
    padding: 0 0 10px 0;
    width: 100%;

    @include tablet-desktop {
        width: 400px
    }
    h1 {
        color: white;
        background: linear-gradient(to right top, $primary, $secondary);
        border-radius: 8px 8px 0 0;
        width: 100%;
        text-align: center;
        font-size: 17px;
        margin: 0 0 20px 0;
        padding: 5px 0;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        color: $tertiary;
        width: 100%;
    
        label {
            font-size: 13px;
            margin-bottom: 5px;
            text-align: center;
        }
    
        input {
            outline: none;
            border: 2px #f2f0f0 groove;
            width: 70%;
        }
    }
    .submit {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .messageValid {
        position: absolute;
        bottom: -20px;
        font-style: italic;
        color: $primary;
        font-size: 12px;
        margin-left: 10px;
    }
}

.verif {
    .issue {
        position: absolute;
        font-size: 10px;
        right: 10px;
        top: 4px;
        padding: 3px 5px;
        color: $primary;
        border: 1px groove $secondary;
        border-radius: 1em;

        &:hover {
            cursor: help;
            background-color: $secondary;
            scale: 1.05;
        }
    }
    .sendCode {
        a {
            color: $tertiary;
            font-size: 14px;

            &:hover {
                color: $primary;
                text-decoration: underline;
            }
        }
    }
    #userCode {
        width:7ch;
    }
}

.account-form {
    fieldset {
        position: relative;
    }
    input[type=file] {
        display: none;
    }
    .avatarUpload {
        height: 80px;

        .avatar {
            height: 80px;
            cursor: pointer;
        }
    }
}

.login-form, .signup-form {
    fieldset {
        position: relative;
    }
    .icon-eye {
        position: absolute;
        right: 20px;
        bottom: 0;
        height: 30px;
        width: 30px;

        i {
            font-size: 15px;    
            &:hover {
                cursor: pointer;
            }
        }
    }
}