/* Forms */
.post-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;

    textarea, &--modify textarea {
        resize: none;
        overflow: auto;
        margin-top: 0;
        padding: 8px;
        border: 1px ridge silver;
        border-top: none;
        font-size: 14px;

        &:focus {
            outline: none;
            border-color: $primary;
        }
        &::placeholder {
            font-style: italic;
        }
    }
    &__options, &--modify__options {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 5px;
        margin: 5px 0;

        &-upload {
            display: flex;
            justify-content: center;
            
        }
        .uploadFile {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 7px;
            padding: 0;

            &-image, &-video {
                i {
                    font-size: 30px;
                    &:hover {
                        cursor: pointer;
                        color: rgba($primary, 0.7);
                        transform: scale(1.05);
                    }
                }
            }            
        }
        .displayFileName {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .isFile, .modify__isFile {
                display: none;
                bottom: -10px;
                font-size: 12px;
                padding-top: 10px;
            }
            .modify__isFile{
                color: white;
            }
        }
        #image-file, #video-link, .modify__image, .modify__video-link {
            display: none;
        }
        #video-link, .modify__video-link {
            margin: 0 0 0 10px;
            height: 20px;
            width: 170px;
            max-width: 90%;

            @include tablet-desktop {
                height: unset;
                width: 230px;
            }
            @include tablet-only {
                margin: 0 0 0 20px;
            }
            @include desktop-only {
                position: absolute;
                right: 0;
                margin: 0;
            }
            
            &:focus {
                outline: 1px groove $tertiary;
            }
            &::placeholder {
                font-style: italic;
                opacity: 0.4;
                font-size: 12px;
            }
        }
        img {
            height: 100%;
            margin: 0;
        }
    }
    &--modify {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 10px;
        top: 0;
        border-radius: 7px;
        background-color: rgba($tertiary, 0.9);

        textarea {
            width: 100%;
            border: none;
        }

        &__options {
            .uploadFile {
                color: white;
                &-image, &-video {
                    i {
                        &:hover {
                            color: $secondary;
                        }
                    }
                }
            }
            &__image, &__video {
                display: none;
            }
        }
        .confirm-modify button {
            margin: 0 5px;
        }
    }
}

.post-addComment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    textarea {
        border: 1px ridge silver;
        border-radius: 8px;
        padding: 12px 8px 0 8px;
        resize: none;
        overflow: auto;
        font-size: 14px;

        &:focus {
            outline: 1px solid $tertiary;
        }
        &::placeholder {
            font-style: italic;
        }
    }
    &__submit {
        display: none;
        position: absolute;
        right: -2px;
        bottom: -2px;
        i {
            font-size: 22px;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}

.login-form, .signup-form, .verif-form, .account-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px $tertiary groove;
    border-radius: 10px;
    padding: 0 0 10px 0;
    width: 90%;

    @include tablet-desktop {
        width: 400px
    }
    h1 {
        color: white;
        background: linear-gradient(to right top, $primary, $secondary);
        border-radius: 8px 8px 0 0;
        width: 100%;
        text-align: center;
        font-size: 17px;
        margin: 0 0 20px 0;
        padding: 5px 0;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        width: 100%;
    
        label {
            font-size: 13px;
            margin-bottom: 5px;
            text-align: center;
        }
    
        input {
            outline: none;
            border: 2px #f2f0f0 groove;
            width: 70%;
        }
    }
    .submit {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .messageValid {
        position: absolute;
        bottom: -20px;
        font-style: italic;
        color: $primary;
        font-size: 12px;
        margin-left: 10px;
    }
}

.verif {
    .issue {
        position: absolute;
        font-size: 10px;
        right: 10px;
        top: 4px;
        padding: 3px 5px;
        color: $primary;
        border: 1px groove $secondary;
        border-radius: 1em;

        &:hover {
            cursor: help;
            background-color: $secondary;
            scale: 1.05;
        }
    }
    .sendCode {
        a {
            color: $tertiary;
            font-size: 14px;

            &:hover {
                color: $primary;
                text-decoration: underline;
            }
        }
    }
    #userCode {
        width:7ch;
    }
}

.account-form {
    fieldset {
        position: relative;
    }
    input[type=file] {
        display: none;
    }
    .avatarUpload {
        display: flex;
        justify-content: center;
        width: 80px;
        height: 80px;
        .avatar {
            width: 100%;
            height: 100%;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
                border-radius: 3em;
            }
        }
    }
}

.login-form, .signup-form {
    fieldset {
        position: relative;
    }
    .icon-eye {
        position: absolute;
        right: 20px;
        bottom: 0;
        height: 30px;
        width: 30px;

        i {
            font-size: 15px;    
            &:hover {
                cursor: pointer;
            }
        }
    }
}