.login-form {
    width: 20%;
    margin: 100px auto;
    padding: 0;
}

.login-form fieldset {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px;
}

.login-form label {
    display: inline-block;
    width: 20%;
    margin: 0 5%;
    text-align: left;
    font-size: 14px;
}

.login-form input {
    margin: auto;
    width: 40%
}

.login-form .errorMsg {
    margin: 0;
}

.login-form .messageValid {
    font-style: italic;
    color: pink;
    font-size: 12px;
}

