.signup h2 {
    text-align: center;
    margin: 60px auto 40px auto;
}

.signup-form {
    width: 30%;
    margin: auto;
    padding: 0;
}

.signup-form fieldset {
    border-radius: 10px;
    padding: 20px 0;
}

.signup-form label {
    display: inline-block;
    width: 20%;
    margin: 0 5%;
    font-size: 14px;
    text-decoration: underline;
}

.signup-form input {
    width: 40%;
    margin: 10px auto;
    outline: none;
    border: 2px #f2f0f0 groove;
    background-color: white;
}

.signup-form .messageValid {
    font-style: italic;
    color: red;
    font-size: 12px;
    margin-left: 10px;
}