@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #4E5166;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#root {
  padding: 0;
  margin: 0;
}

.logout, .unconnected {
  text-align: center;
  margin-top: 100px;
}

.err404, .alreadyConnected {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.err404 img, .alreadyConnected img {
  width: 30%;
}
.err404 a, .alreadyConnected a {
  text-decoration: underline;
  font-style: italic;
}
.err404 a:hover, .alreadyConnected a:hover {
  color: #FD2D01;
}
.err404 p, .alreadyConnected p {
  font-weight: bold;
  margin: 10px 0;
}

.alert {
  font-weight: bold;
  color: #FD2D01;
  font-size: 14px;
}

/* Header */
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to right top, #FD2D01, #FFD7D7);
  z-index: 1;
}
@media screen and (min-width: 600px) {
  .header {
    justify-content: center;
    padding-left: 0;
  }
}
.header .grpm-logo {
  margin-left: 15px;
}
@media screen and (min-width: 600px) {
  .header .grpm-logo {
    position: unset;
  }
}
.header .grpm-logo .logo-img {
  width: 150px;
}
@media screen and (min-width: 600px) {
  .header .grpm-logo .logo-img {
    width: 200px;
  }
}
.header .grpm-logo .logo-img:hover {
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
}

/* Buttons */
.btn {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}
.btn:enabled {
  background: linear-gradient(#FFD7D7, #FD2D01);
  color: white;
}
.btn:disabled {
  cursor: no-drop;
  color: silver;
}
.btn:hover:enabled {
  box-shadow: 2px 3px 10px #4E5166;
  color: white;
}
.btn-logout, .btn-account, .btn-delete, .btn-update {
  cursor: pointer;
  background-color: unset;
  border: none;
}
.btn-logout img, .btn-account img, .btn-delete img, .btn-update img {
  height: 23px;
}
.btn-logout:hover, .btn-account:hover, .btn-delete:hover, .btn-update:hover {
  scale: 1.1;
}
.btn-account {
  margin-right: 10px;
}
.btn-login {
  margin-right: 15px;
}
.btn-logout img {
  height: 22px;
}
.btn-delete {
  position: absolute;
  top: 35px;
  right: 5px;
  z-index: 1;
}
.btn-update {
  position: absolute;
  right: 20px;
  bottom: 6px;
}
.btn-submit {
  margin: 5px auto;
}
.btn-submit:hover:enabled {
  scale: 1.05;
}
.btn-order {
  margin-bottom: 10px;
  scale: 0.9;
}

.activeBtn .btn {
  box-shadow: 2px 3px 10px #4E5166;
}
.activeBtn .btn:enabled {
  background: unset;
  background-color: #4E5166;
  color: white;
}

/* Forms */
.post-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}
.post-form textarea, .post-form--modify textarea {
  resize: none;
  overflow: auto;
  margin-top: 0;
  padding: 8px;
  border: 1px ridge silver;
  border-top: none;
  font-size: 14px;
}
.post-form textarea:focus, .post-form--modify textarea:focus {
  outline: none;
  border-color: #FD2D01;
}
.post-form textarea::placeholder, .post-form--modify textarea::placeholder {
  font-style: italic;
}
.post-form__options, .post-form--modify__options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
}
.post-form__options-upload, .post-form--modify__options-upload {
  display: flex;
  justify-content: center;
}
.post-form__options .uploadFile, .post-form--modify__options .uploadFile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7px;
  padding: 0;
}
.post-form__options .uploadFile-image i, .post-form__options .uploadFile-video i, .post-form--modify__options .uploadFile-image i, .post-form--modify__options .uploadFile-video i {
  font-size: 30px;
}
.post-form__options .uploadFile-image i:hover, .post-form__options .uploadFile-video i:hover, .post-form--modify__options .uploadFile-image i:hover, .post-form--modify__options .uploadFile-video i:hover {
  cursor: pointer;
  color: rgba(253, 45, 1, 0.7);
  transform: scale(1.05);
}
.post-form__options .displayFileName, .post-form--modify__options .displayFileName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.post-form__options .displayFileName .isFile, .post-form__options .displayFileName .modify__isFile, .post-form--modify__options .displayFileName .isFile, .post-form--modify__options .displayFileName .modify__isFile {
  bottom: -10px;
  font-size: 12px;
  padding-top: 10px;
}
.post-form__options .displayFileName .modify__isFile, .post-form--modify__options .displayFileName .modify__isFile {
  color: white;
}
.post-form__options .displayFileName .deleteFile, .post-form--modify__options .displayFileName .deleteFile {
  margin-left: 10px;
  margin-top: 10px;
  color: #FFD7D7;
  font-size: 16px;
}
.post-form__options .displayFileName .deleteFile:hover, .post-form--modify__options .displayFileName .deleteFile:hover {
  cursor: pointer;
  transform: scale(1.07);
}
.post-form__options #image-file, .post-form__options #video-link, .post-form__options .modify__image, .post-form__options .modify__video-link, .post-form--modify__options #image-file, .post-form--modify__options #video-link, .post-form--modify__options .modify__image, .post-form--modify__options .modify__video-link {
  display: none;
}
.post-form__options #video-link, .post-form__options .modify__video-link, .post-form--modify__options #video-link, .post-form--modify__options .modify__video-link {
  margin: 0 0 0 10px;
  height: 20px;
  width: 170px;
  max-width: 90%;
}
@media screen and (min-width: 600px) {
  .post-form__options #video-link, .post-form__options .modify__video-link, .post-form--modify__options #video-link, .post-form--modify__options .modify__video-link {
    height: unset;
    width: 230px;
  }
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  .post-form__options #video-link, .post-form__options .modify__video-link, .post-form--modify__options #video-link, .post-form--modify__options .modify__video-link {
    margin: 0 0 0 20px;
  }
}
@media screen and (min-width: 992px) {
  .post-form__options #video-link, .post-form__options .modify__video-link, .post-form--modify__options #video-link, .post-form--modify__options .modify__video-link {
    position: absolute;
    right: 0;
    margin: 0;
  }
}
.post-form__options #video-link:focus, .post-form__options .modify__video-link:focus, .post-form--modify__options #video-link:focus, .post-form--modify__options .modify__video-link:focus {
  outline: 1px groove #4E5166;
}
.post-form__options #video-link::placeholder, .post-form__options .modify__video-link::placeholder, .post-form--modify__options #video-link::placeholder, .post-form--modify__options .modify__video-link::placeholder {
  font-style: italic;
  opacity: 0.4;
  font-size: 12px;
}
.post-form__options img, .post-form--modify__options img {
  height: 100%;
  margin: 0;
}
.post-form--modify {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 10px;
  top: 0;
  border-radius: 7px;
  background-color: rgba(78, 81, 102, 0.9);
}
.post-form--modify textarea {
  width: 100%;
  border: none;
}
.post-form--modify__options .uploadFile {
  color: white;
}
.post-form--modify__options .uploadFile-image i:hover, .post-form--modify__options .uploadFile-video i:hover {
  color: #FFD7D7;
}
.post-form--modify__options__image, .post-form--modify__options__video {
  display: none;
}
.post-form--modify .confirm-modify button {
  margin: 0 5px;
}

.post-addComment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.post-addComment textarea {
  border: 1px ridge silver;
  border-radius: 8px;
  padding: 12px 8px 0 8px;
  resize: none;
  overflow: auto;
  font-size: 14px;
}
.post-addComment textarea:focus {
  outline: 1px solid #4E5166;
}
.post-addComment textarea::placeholder {
  font-style: italic;
}
.post-addComment__submit {
  display: none;
  position: absolute;
  right: -2px;
  bottom: -2px;
}
.post-addComment__submit i {
  font-size: 22px;
}
.post-addComment__submit i:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.login-form, .signup-form, .verif-form, .account-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px #4E5166 groove;
  border-radius: 10px;
  padding: 0 0 10px 0;
  width: 90%;
}
@media screen and (min-width: 600px) {
  .login-form, .signup-form, .verif-form, .account-form {
    width: 400px;
  }
}
.login-form h1, .signup-form h1, .verif-form h1, .account-form h1 {
  color: white;
  background: linear-gradient(to right top, #FD2D01, #FFD7D7);
  border-radius: 8px 8px 0 0;
  width: 100%;
  text-align: center;
  font-size: 17px;
  margin: 0 0 20px 0;
  padding: 5px 0;
}
.login-form fieldset, .signup-form fieldset, .verif-form fieldset, .account-form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  width: 100%;
}
.login-form fieldset label, .signup-form fieldset label, .verif-form fieldset label, .account-form fieldset label {
  font-size: 13px;
  margin-bottom: 5px;
  text-align: center;
}
.login-form fieldset input, .signup-form fieldset input, .verif-form fieldset input, .account-form fieldset input {
  outline: none;
  border: 2px #f2f0f0 groove;
  width: 70%;
}
.login-form .submit, .signup-form .submit, .verif-form .submit, .account-form .submit {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-form .messageValid, .signup-form .messageValid, .verif-form .messageValid, .account-form .messageValid {
  position: absolute;
  bottom: -20px;
  font-style: italic;
  color: #FD2D01;
  font-size: 12px;
  margin-left: 10px;
}

.verif .issue {
  position: absolute;
  font-size: 10px;
  right: 10px;
  top: 4px;
  padding: 3px 5px;
  color: #FD2D01;
  border: 1px groove #FFD7D7;
  border-radius: 1em;
}
.verif .issue:hover {
  cursor: help;
  background-color: #FFD7D7;
  scale: 1.05;
}
.verif .sendCode a {
  color: #4E5166;
  font-size: 14px;
}
.verif .sendCode a:hover {
  color: #FD2D01;
  text-decoration: underline;
}
.verif #userCode {
  width: 7ch;
}

.account-form {
  position: relative;
}
.account-form fieldset {
  position: relative;
}
.account-form input[type=file] {
  display: none;
}
.account-form .avatarUpload {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
}
.account-form .avatarUpload .avatar {
  width: 100%;
  height: 100%;
}
.account-form .avatarUpload .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 3em;
}
.account-form .user-rank {
  font-weight: bold;
  color: #FD2D01;
  text-decoration: underline;
  margin-top: -15px;
  margin-bottom: 10px;
}

.login-form fieldset, .signup-form fieldset {
  position: relative;
}
.login-form .icon-low-vision, .login-form .icon-eye, .signup-form .icon-low-vision, .signup-form .icon-eye {
  position: absolute;
  right: 20px;
  bottom: 0;
  height: 30px;
  width: 30px;
}
.login-form .icon-low-vision i, .login-form .icon-eye i, .signup-form .icon-low-vision i, .signup-form .icon-eye i {
  font-size: 15px;
}
.login-form .icon-low-vision i:hover, .login-form .icon-eye i:hover, .signup-form .icon-low-vision i:hover, .signup-form .icon-eye i:hover {
  cursor: pointer;
}
.login-form .icon-low-vision, .signup-form .icon-low-vision {
  display: block;
}
.login-form .icon-eye, .signup-form .icon-eye {
  display: none;
}

/* Main */
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup, .login, .verif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.verif h3 {
  color: #FD2D01;
}

/* Nav */
.nav-buttons {
  display: flex;
  justify-content: center;
  z-index: 1;
}
.nav-buttons--profil {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-content: center;
  top: 10px;
  right: 10px;
}
.nav-buttons--profil a, .nav-buttons--profil button {
  display: flex;
  align-items: center;
}
.nav-buttons .btn-log {
  margin-top: 120px;
}

/* Posts */
.allPosts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-top: 70px;
}
@media screen and (min-width: 600px) and (max-width: 991px) {
  .allPosts {
    margin-top: 90px;
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .allPosts {
    margin-top: 100px;
    width: 600px;
  }
}
.allPosts .addPost {
  width: 100%;
  margin-bottom: 30px;
}
.allPosts .addPost h1 {
  font-size: medium;
  margin: 0;
  padding: 5px 0 5px 10px;
  background: linear-gradient(to right top, #FD2D01, #FFD7D7);
  border-radius: 8px 8px 0 0;
  color: white;
  font-size: 15px;
}
.allPosts .post {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
  border: 1px groove #4E5166;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgb(144, 143, 143);
}
.allPosts .post .modify-form {
  display: none;
}
.allPosts .post-infos-user {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 8px 10px;
}
.allPosts .post-infos-user__avatar:hover, .allPosts .post-infos-user__author:hover {
  cursor: pointer;
}
.allPosts .post-infos-user__avatar {
  height: 40px;
  border-radius: 3em;
  border: 1px groove #FFD7D7;
}
.allPosts .post-infos-user__avatar img {
  height: 100%;
  border-radius: 3em;
}
.allPosts .post-infos-user__avatar img:hover {
  box-shadow: 1px 2px 5px #4E5166;
}
.allPosts .post-infos-user__author {
  margin: 5px 0 0 15px;
}
.allPosts .post-infos-user__author {
  color: #FD2D01;
  font-weight: bold;
}
.allPosts .post-infos-user__author:hover {
  text-decoration: underline;
}
.allPosts .post-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px 10px 20px;
}
.allPosts .post-content--text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  white-space: pre;
  overflow: auto;
  width: 100%;
  padding: 10px 0;
}
.allPosts .post-content--image {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0 7px 0;
}
.allPosts .post-content--image img {
  object-fit: cover;
  max-height: 500px;
  max-width: 100%;
  border-radius: 8px;
}
.allPosts .post-content--video {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.allPosts .post-content--date, .allPosts .post-content--moderation {
  position: absolute;
  right: 15px;
  font-size: 12px;
  font-style: italic;
}
.allPosts .post-content--date {
  bottom: 3px;
}
@media screen and (min-width: 600px) {
  .allPosts .post-content--date {
    bottom: -20px;
  }
}
.allPosts .post-content--moderation {
  color: #FD2D01;
  bottom: -15px;
}
@media screen and (min-width: 600px) {
  .allPosts .post-content--moderation {
    bottom: -37px;
  }
}
.allPosts .post-allComments {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 10px;
}
.allPosts .post-allComments .oneComment {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: fit-content;
  padding: 5px 15px 7px 15px;
  background-color: rgba(255, 215, 215, 0.4);
  border-radius: 15px;
}
.allPosts .post-allComments .oneComment-author {
  font-weight: bold;
  margin-bottom: 7px;
}
.allPosts .post-allComments .oneComment-options {
  position: absolute;
  display: flex;
  right: -10px;
  top: 0;
  font-size: 18px;
  height: 100%;
}
.allPosts .post-allComments .oneComment-options--display {
  position: absolute;
  top: -12px;
  font-size: 24px;
}
.allPosts .post-allComments .oneComment-options--display:hover {
  cursor: pointer;
  width: 100px;
}
.allPosts .post-allComments .oneComment-options--display:hover > .oneComment-options--choices {
  display: flex;
}
.allPosts .post-allComments .oneComment-options--choices {
  position: absolute;
  display: none;
  flex-direction: column;
  text-align: center;
  top: 10px;
  left: 25px;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  background-color: rgba(78, 81, 102, 0.1);
  border-radius: 7px;
}
.allPosts .post-allComments .oneComment-options--choices span {
  margin: 5px 0;
}
.allPosts .post-allComments .oneComment-options--choices span:hover {
  color: #FD2D01;
  font-weight: bold;
}
.allPosts .post-split {
  border: 1px groove #4E5166;
  opacity: 0.5;
  width: 95%;
  margin: 0 auto 5px auto;
}
.allPosts .post-various {
  height: 50px;
  width: 100%;
  padding: 10px 0;
}
.allPosts .post-various--options {
  position: absolute;
  top: 10px;
  right: 15px;
}
.allPosts .post-various--options__edit, .allPosts .post-various--options__delete {
  width: 30px;
  height: 30px;
  opacity: 0.6;
}
.allPosts .post-various--options__edit i, .allPosts .post-various--options__delete i {
  font-size: 18px;
}
.allPosts .post-various--options__edit:hover, .allPosts .post-various--options__delete:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 1;
}
.allPosts .post-various--options__edit {
  margin-right: 10px;
}
.allPosts .post-various__emotes {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
}
.allPosts .post-various__emotes .laugh-after, .allPosts .post-various__emotes .laugh-before, .allPosts .post-various__emotes .like-after, .allPosts .post-various__emotes .like-before, .allPosts .post-various__emotes .love-after, .allPosts .post-various__emotes .love-before {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  padding: 1px;
}
.allPosts .post-various__emotes .laugh-after i, .allPosts .post-various__emotes .laugh-before i, .allPosts .post-various__emotes .like-after i, .allPosts .post-various__emotes .like-before i, .allPosts .post-various__emotes .love-after i, .allPosts .post-various__emotes .love-before i {
  font-size: 18px;
}
.allPosts .post-various__emotes .laugh-after i:hover, .allPosts .post-various__emotes .laugh-before i:hover, .allPosts .post-various__emotes .like-after i:hover, .allPosts .post-various__emotes .like-before i:hover, .allPosts .post-various__emotes .love-after i:hover, .allPosts .post-various__emotes .love-before i:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.allPosts .post-various__emotes .laugh-after, .allPosts .post-various__emotes .laugh-before {
  left: 85px;
}
.allPosts .post-various__emotes .like-after, .allPosts .post-various__emotes .like-before {
  left: 45px;
}
.allPosts .post-various__emotes .love-after, .allPosts .post-various__emotes .love-before {
  left: 5px;
}
.allPosts .post-various__emotes .laugh-after {
  background-image: linear-gradient(30deg, yellow, orange);
  background-clip: text;
  color: transparent;
}
.allPosts .post-various__emotes .love-after {
  background-image: linear-gradient(30deg, #FFD7D7, #FD2D01);
  background-clip: text;
  color: transparent;
}
.allPosts .post-various__emotes .nbLaughs, .allPosts .post-various__emotes .nbLikes, .allPosts .post-various__emotes .nbLoves {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  font-weight: bold;
  text-decoration: solid;
}
.allPosts .post-various__emotes .nbLaughs {
  left: 80px;
}
.allPosts .post-various__emotes .nbLikes {
  left: 35px;
}
.allPosts .post-various__emotes .nbLoves {
  left: 0;
}
.allPosts .post .displayComments {
  display: inline-block;
  padding: 5px 15px 0 15px;
  font-size: 15px;
  font-style: italic;
}
.allPosts .post .displayComments:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #FD2D01;
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 80px auto 0 auto;
}
@media screen and (min-width: 600px) {
  .profil {
    margin-top: 100px;
  }
}
@media screen and (min-width: 992px) {
  .profil {
    width: 60%;
  }
}
.profil-admin {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 300px;
}
.profil-admin-rank {
  color: white;
  text-align: center;
}
.profil-admin-rank--privileges {
  position: absolute;
  display: none;
  right: 20px;
  top: -15px;
  padding: 3px 7px;
  color: white;
  background-color: #4E5166;
  border-radius: 5px;
}
@media screen and (min-width: 600px) {
  .profil-admin-rank--privileges {
    right: 5px;
    top: -25px;
  }
}
.profil-admin-rank--privileges ul {
  margin: 0;
  padding: 0;
}
.profil-admin-rank--privileges ul li {
  list-style: none;
  text-align: left;
  font-size: 13px;
  margin: 3px 0;
}
@media screen and (min-width: 600px) {
  .profil-admin-rank--privileges ul li {
    font-size: 15px;
  }
}
.profil-admin-rank--privileges ul li:hover {
  text-decoration: underline;
}
.profil-admin-rank:hover {
  cursor: pointer;
  width: 300px;
}
.profil-admin-rank:hover > .profil-admin-rank--privileges {
  display: block;
}
.profil-admin-rank i {
  background-color: #4E5166;
  border-radius: 5px;
  padding: 5px 9px;
}
.profil .usersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  padding: 5px 7px;
  border: 1px groove #4E5166;
  border-radius: 10px;
}
.profil .usersList h3, .profil .usersList span:hover {
  text-decoration: underline;
}
.profil .usersList h3 {
  margin-top: 5px;
  font-size: 17px;
}
.profil .usersList span {
  margin: 0 0 5px 0;
  width: 100%;
  text-align: center;
}
.profil .usersList span:hover {
  cursor: pointer;
  color: #FD2D01;
}
.profil .usersList span hr {
  width: 50%;
}

/*# sourceMappingURL=style.css.map */
