html {
    margin: 0; padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100%; 
    margin: 0;
    padding: 0 5%;
}

* {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
}

#root {
    padding: 0;
    margin: 0;
}

.logout, .unconnected {
    text-align: center;
    margin-top: 100px;
}

.grpm-err404 {
    display: flex;
    justify-content: center;
    margin: 100px auto;

    img {
        width: 30%;
    }
}

.alert {
    font-weight: bold;
    color: $primary;
    font-size: 14px;
}

.message {
    color: $tertiary;
}