html {
    margin: 0; padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100%; 
    margin: 0;
    padding: 0;
    color: $tertiary;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#root {
    padding: 0;
    margin: 0;
}

.logout, .unconnected {
    text-align: center;
    margin-top: 100px;
}

.err404, .alreadyConnected {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    img {
        width: 30%;
    }
    a {
        text-decoration: underline;
        font-style: italic;
        &:hover {
            color: $primary;
        }
    }
    p {
        font-weight: bold;
        margin: 10px 0;
    }
}

.alert {
    font-weight: bold;
    color: $primary;
    font-size: 14px;
}