.profil {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop-only {
        width: 60%;
    }
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px groove $tertiary;
    border-radius: 10px;
    width: 100%;
    padding: 20px 0;

    img {
        margin-bottom: 20px;
    }
    p {
        margin: 5px;
    }
}