/* All pages */
.signup, .login, .verif {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup h1, .login h1, .verif h1 {
    margin: 30px auto;
    color: $primary;
    font-size: 20px;
    text-align: center;
}

.verif h3 {
    color: $primary;
}