/* Nav */
.nav-buttons {
    display: flex;
    justify-content: center;
    margin-top: 60px;
 
    .btn-profil {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-content: center;
        top: 10px;
        width: 95%;
        margin-bottom: 30px;

        @include tablet-desktop {
            width: unset;
            margin: 0;
            right: 20px;
        }
    }
}
