/* Nav */
.nav-buttons {
    display: flex;
    justify-content: center;
    z-index: 1;
 
    &--profil {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-content: center;
        top: 10px;
        right: 10px;

        &__messages {
            position: fixed;
            top: 5px;
            right: 85px;
            font-size: 13px;
            color: black;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
        a, button {
            display: flex; 
            align-items: center;
        }
    }
    .btn-log {
        margin-top: 120px;
    }
}
