/* Nav */
.nav-buttons {
    display: flex;
    justify-content: center;
    z-index: 1;
 
    &--profil {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-content: center;
        top: 10px;
        right: 10px;
        a, button {
            display: flex; 
            align-items: center;
        }
    }
    .btn-log {
        margin-top: 120px;
    }
}
