/* Header */
.header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to right top, $primary, $secondary);

    .grpm-logo {
        .logo-img {
            width: 150px;
            margin: 0 auto;
            @include tablet-only {
                width: 200px;
            }
            @include desktop-only {
                width: 220px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}